* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.container {
    max-width: 1199px;
    margin: auto;
}

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
}

.btn-gradient:hover {
  background-position: right center;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}
/* Header Styling  */
.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 20px;
}
/* .logo img {
    max-height: 50px;
} */
.nav_links {
  display: flex;
  display: inline-flex;
  list-style: none;
  padding: 55px 15px;
}
.nav_links li a {
  padding: 55px 15px;
  align-items: center;
}
.nav_links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.5s ease;
}

.nav_links a:hover {
  color: #f75d81;
}
.btn-quote {
  display: inline-block;
  padding: 12px 30px; /* Adjust padding for size */
  background: linear-gradient(90deg, #ff6a6a 0%, #ff9966 100%);
  color: #fff;
  text-decoration: none;
  border-radius: 50px; /* Rounded corners */
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn-quote:hover {
  background: linear-gradient(90deg, #ff9966 0%, #ff6a6a 100%);
  transform: scale(1.05); /* Slight hover effect */
}

/* Carousel  */
li {
  list-style: none;
}
.carousel {
  /* padding-top: 180px; */
  overflow: hidden;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}
.carousel_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel_article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.carousel_content li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}

.carousel_content ul {
  margin-bottom: 20px;
}
.carousel_left {
  width: 60%;
}

.carousel_right {
  width: 40%;
}
.carousel_article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* Services */
.services {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.service_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.service_items img {
  width: 215px;
}
.service_items {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
  border-image: 100 round;
  border: 3px solid transparent;
}

.service_items:hover {
  transform: translateY(-20px);
  border-image: url(../img/br.png) 1 round;
}
.service_items h3 {
  font-weight: 700;
  font-size: 24px;
  color: #262626;
  margin: 15px 0;
}

/* About Us  */
.about_us {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
  padding-top: 115px;
}
.about_us_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about_us_left {
  width: 60%;
  position: absolute;
  left: -15%;
}
.about_us_right {
  width: 50%;
}
.about_us_left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about_us_right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
.about_us_right p:last-of-type {
  padding-bottom: 15px;
}
.about_us_right ul {
  padding-bottom: 30px;
}

/* Number  */
.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number_content {
  display: flex;
  justify-content: space-around;
}
.number_item {
  width: 25%;
}
/* Edit the Icon */
.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number_item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number_item p:last-of-type {
  color: #262626;
  font-size: 18px;
}

/* Feature  */
.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}
.feature_content {
  display: flex;
  align-items: center;
}
.feature_content_left {
  width: 50%;
}
.feature_content_right {
  width: 50%;
}
.feature_content_right {
  margin-right: -80px;
}
.feature_content_right img {
  max-width: 100%;
}
.feature_item {
  padding: 0 50px 30px 0;
}
.feature_item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
.feature_background {
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.feature_background::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}
.feature_background:hover::after {
  opacity: 1;
}
.feature_item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.feature_item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}

.feature_item .feature_title {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.feature_background:hover i,
.feature_background:hover .feature_title,
.feature_background:hover h3 {
  color: white;
}

/* Portfolio  */
.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  overflow: hidden;
  padding-top: 100px;
}
/* Setting up Grid  */
.portfolio_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
/* Adjust Border of image(portfolio_item) */
.portfolio_item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 1s;
}

.portfolio_item:hover .portfolio_overlay {
  opacity: 1;
}

.portfolio_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
/* Icon color  */
.portfolio_icon a {
  color: #fff;
}
/* Icon moving in */
.portfolio_item:hover .portfolio_icon {
  transform: translate(0);
}
/* Pointer for icon  */
.portfolio_icon a {
  cursor: pointer;
}
/* Text moving in  */
.portfolio_text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
/* Text hover */
.portfolio_item:hover .portfolio_text {
  transform: translateY(0);
}
.portfolio_text h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}
.portfolio_text p {
  color: #fff;
  opacity: 0.7;
}
/* Adjust image w and h for full image w/o cropping  */
.portfolio_item img {
  width: 100%;
  height: 100%;
}

.portfolio_item1 {
  grid-column: 1 / span 2;
}

.portfolio_item5 {
  grid-column: 1 / span 2;
}

.portfolio_item6 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}

/* Blog  */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 100px;
}

.blog_item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog_header {
  position: relative;
}

.blog_header img {
  width: 100%;
  border-radius: 8px;
}

.blog_header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog_body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog_body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog_footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog_footer p:first-of-type {
  margin-right: 20px;
}

.blog_footer p:first-of-type span {
  color: #f55f8d;
}

/* FOOTER at 4AM */
footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer_top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  display: flex;
}
.footer_text,
.footer_form {
  width: 50%;
}
.footer_text h2 {
  font-size: 28px;
  color: #262626;
}

.footer_form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer_form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
}

.footer_form input:focus,
.footer_form input:hover {
  border-color: #f55f8d;
}

.footer_form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  cursor: pointer;
}

.footer_form button:hover {
  background-position: right center;
}

.footer_form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}

.footer_bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer_item {
  width: 25%;
}

.footer_item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer_item h3::before,
.footer_item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer_item h3::before {
  width: 15px;
}

.footer_item h3::after {
  width: 45px;
  left: 20px;
}

.footer_contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer_contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer_item li {
  padding: 0.5rem 0;
  list-style: none;
}

.footer_item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
  text-decoration: none;
}

.footer_item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer_item a:hover {
  color: white;
}

.footer_copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer_content {
  max-width: 1200px; /* Set a max-width to keep content centered */
  margin: 0 auto; /* Centers the content within the footer */
  padding: 0 20px; /* Optional: Add padding for inner spacing */
  display: flex;
  justify-content: space-between;
}

.footer_left span {
  color: #f55f8d;
}

.footer_copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer_copyright a:hover {
  background: #f55f8d;
}



/* BACK TO TOP */
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}